@font-face {
  src: url(assets/fonts/Inter-Regular.ttf);
  font-family: inter;
}
:root {
  --default-icon-color: rgb(172, 172, 172);
  --media-cont-left: 60px;
  --theme-color: rgb(170, 139, 255);
}

.media-icon {
  width: 20px;
  height: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100svh;
  overflow: clip;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: rgb(20, 20, 20);
}

noscript {
  display: block;
  color: rgba(245, 245, 245, 0.7);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 66, 66, 0.584);
  text-align: center;
}

[data-activable] {

  .active-icon {
    display: none;
  }
  
  .inactive-icon {
    display: inline-block;
  }
}

[data-activable].active {
  .active-icon {
    display: inline-block;
  }
  .inactive-icon {
    display: none;
  }
}

main {
  height: 100svh;
  padding-top: 60px;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

/* page background */
.page-bg {
  position: absolute;
  inset: 0;
  height: 100svh;
  filter: blur(20px);
  overflow: hidden;
}

.page-bg__shape {
  position: absolute;
}

.page-bg__shape-1 {
  top: 0vh;
  left: 10vw;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(-30deg, rgba(39, 39, 253, 0.651), rgba(96, 255, 255, 0.3));
  transform: rotate(-20deg);
}

.page-bg__shape-2 {
  bottom: -150px;
  left: 45vw;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(-50deg, rgba(49, 206, 245, 0.384), rgba(67, 67, 255, 0.651), rgba(255, 109, 255, 0.5));
  transform: rotate(-30deg);
}

.page-bg__shape-3 {
  bottom: 150px;
  left: 0vw;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(-50deg, rgba(49, 206, 245, 0.384), rgba(67, 67, 255, 0.4), rgba(255, 109, 255, 0.3));
  transform: rotate(30deg);
}

.page-bg__shape-4 {
  top: 150px;
  right: 10vw;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(-30deg, rgba(57, 233, 151, 0.274), rgba(67, 67, 255, 0.5), rgba(255, 109, 255, 0.5));
  transform: rotate(-30deg);
}

/* Main Container  */
.media-cont {
  position: relative;
  max-width: 1300px;
  height: 700px;
  margin: 0 auto;
  /* background-color: rgb(15, 15, 15); */
  backdrop-filter: blur(40px) brightness(1.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.726);

  @media screen and (max-width: 768px) {
    height: 100svh;
    border-radius: 0;
    border: 0;
  }
}

.network-speed-cont {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 1px solid grey; */
  padding: 0px 5px 0 0;
  display: flex;
  align-items: center;
  font-size: 0.55rem;
  color: grey;
}

#network-speed {
  margin-right: 5px;
}

#network-speed-icon {
  width: 0.8rem;
}

.media-cont-divider {
  border: none;
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.2) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(20, 20, 20, 0.2) 100%);
}

/*////////////////////////////////*/
/* Top area  */
.top-cont {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
}

.media-cont-sidebar {
  position: relative;
  width: 0;
  flex-shrink: 0;
  width: var(--media-cont-left);  
  height: 100%;
  padding: 20px 0;
  border-top-left-radius: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  /* animation: sidebardisappear .8s infinite; */
  transition: all .2s ease-out;
}

.fs-media-cont-sidebar {
  position: fixed;
  backdrop-filter: blur(20px) brightness(1.5);
  width: 0;
  z-index: 1;
}

.fs-media-cont-sidebar[data-state="showing"] {
  width: var(--media-cont-left) !important;  
}

.fs-media-cont-sidebar[data-state="hidden"] {
  width: 0 !important;
}


.media-cont-sidebar-list {
  list-style-type: none;
  width: 100%;
  overflow: hidden;

  margin: 0;
  padding: 0;
  opacity: 1;
  /* animation: sidebarlistappear .3s  .8s 1 forwards !important; */
}

.fs-media-cont-sidebar-list {
  /* display: none; */
}


.media-cont-sidebar-item {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
}

.media-cont-sidebar-link {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--default-icon-color);
  transition: color 0.3s;
  opacity: 1;
}

.media-cont-sidebar-link[data-disabled=true] {
  cursor: default;
  opacity: 0.3;
}

#startend-btn, #playpause-btn, #rec-btn, #mic-btn, #download-btn {
  transition: color 0.3s;
}

#startend-btn[data-disabled=false]:hover {
  /* color: rgb(39, 140, 255); */
}

#playpause-btn[data-disabled=false]:hover {
  /* color: rgb(255, 255, 105); */
}

#mic-btn[data-disabled=false]:hover {
  color: rgb(139, 61, 255);
}

.mic-btn-active {
  color: rgb(139, 61, 255);
}

#rec-btn[data-disabled=false]:hover {
  color: rgb(255, 119, 142);
}

.rec-btn-isrecording {
  color: rgb(255, 119, 142);
  animation: 2s twinkle forwards infinite ease-in-out;
}

#download-btn[data-disabled=false]:hover {
  color: lightseagreen;
}

#media-cont-sidebar-openning-btn {
  cursor: pointer;
  position: absolute;
  right: -20px;
  width: 20px;
  height: 60px;
  background-color: transparent;
  padding-right: 7px;
  border-radius: 0 10px 10px 0;
  border: none;
  border: 1px solid rgba(121, 121, 121, 0.304);
  border-left: none;
  text-align: end;
  font-size: 1.1rem;
  color: rgb(121, 121, 121);
  z-index: 1;
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#video {
  background-color: black;
  margin-top: 20px;
  max-width: calc(100% - var(--media-cont-left));
  flex-grow: 1;
  /* border: 1px solid red; */
}

.fs-video {
  margin: 0 !important;
}

/*////////////////////////////////*/
/* Bottom area  */
.bottom-cont {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.bottom-cont-left {
  width: var(--media-cont-left);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bottom-cont-center {
  /* background-color: lightcoral; */
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: relative;
}

.bottom-cont-right {
  width: 40px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-playback-controls {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bottom-playback-btn {
  cursor: pointer;
  margin-right: 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}



.bottom-playback-btn:disabled {
  opacity: .5;
  cursor: default;
}

.bottom-playback-icon {
  width: 20px;
  height: 20px;
  color: #ddd;
}

#fs-btn {
  border: none;
}

#fs-icon {
  /* color: inherit; */
}

/* HQ options */
#hq-btn {
  position: relative;
}

#hq-options-cont {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.444);
  backdrop-filter: blur(3px);
  display: none;
}

#hq-options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hq-options-item {
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 5px;
  background-color: rgba(1, 1, 1, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hq-options-item:hover {
  background-color: rgba(123, 123, 123, 0.2);
}

.hq-options-btn {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 0.8rem;
}

/*-------------------------------*/
#mute-btn {
  position: relative;
  cursor: pointer;
  color: var(--default-icon-color);
  transition: color 0.3s;
}

#mute-btn:hover {
  color: white;
}

.video-volume-range-cont {
  position: absolute;
  bottom: 40px;
  left: 50%;
  /* border: 1px solid white; */
  transform: translateX(-50%);
}

#video-volume-range {
  appearance: none;
  -webkit-appearance: none;
  display: none;
  width: 50px;
  height: 3px;
  transform: rotate(-90deg);
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 5px;
  /* animation: appearvol 1s ease-in-out  forwards; */
}

#video-volume-range::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: var(--theme-color);
}

#video-volume-range::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--theme-color);
}

@keyframes appearvol {
  from {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
#progress {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  border: none;
}

#progress::-webkit-progress-bar {
  background-color: rgb(77, 77, 77);
  border-radius: 3px;
}

#progress::-webkit-progress-value {
  background: linear-gradient(90deg, rgb(87, 68, 136), rgb(170, 139, 255));
  border-radius: 3px;
}

#video-time {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 0.7rem;
  color: rgb(171, 171, 171);
}

#live-icon {
  color: rgb(171, 171, 171);
  opacity: 0.2;
}

.live-icon-active {
  color: #ff5577 !important;
  animation: 2s twinkle forwards infinite ease-in-out;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes identifier {}
/*////////////////////////////////*/
/* Premission Modal */
#premission-modal-cont {
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  display: none; /* flex */
  align-items: center;
  justify-content: center;
}

#premisssion-modal {
  max-width: 100%;
  /* height: 300px; */
  height: auto;
  padding: 10px;
  /* background-color: rgb(20, 20, 30); */
  border-radius: 10px;
}

#premission-title {
  color: white;
  font-size: 1.4rem;
  white-space: nowrap;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: .9rem;
    white-space: unset;
  }
}

#premission-modal-divider {
  border: none;
  height: 1px;
}

.premission-option-cont {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    padding-inline: 0;
  }
}

.premission-icon {
  width: 40px;
  color: rgba(255, 255, 255, 0.718);
}

.premission-check {
  display: none;
  cursor: pointer;
  margin-left: auto;
}
.premission-check:checked + .premission-label {
  background-color: rgb(57, 77, 255);
}
.premission-check:checked + .premission-label:hover {
  background-color: #3647de;
}
.premission-check:not(:checked) + .premission-label {
  background-color: transparent;
}
.premission-check:not(:checked) + .premission-label:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.premission-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  color: rgba(205, 187, 255, 0.703);
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.1s;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.premission-label:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.premission-label.animated-btn {
  animation: grow-btn 0.3s ease-out 1;
}

@keyframes grow-btn {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
#premission-submit-btn {
  cursor: pointer;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 40px;
  /* background-color: rgb(149, 110, 255); */
  background-color: transparent;
  border: none;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.303);
  font-size: 1.3rem;
  font-weight: 100;
  color: white;
  transition-property: filter, background-color;
  transition-duration: 0.3s, 0.1s;
}
#premission-submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

/*////////////////////////////////*/